<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eshoplab.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eshoplab.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eShopLab</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$eShopLab</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="eShopDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mupok6ma0m.database.windows.net,1433;Initial Catalog=eShopDB;User ID=demopublic@mupok6ma0m;Password=PdDU62QI" Name="Data Source=tcp:mupok6ma0m.database.windows.net,1433;Initial Catalog=eShopDB;User Id=demopublic@mupok6ma0m;Password=PdDU62QI" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eShopLab.Models.eShopDBEntities, eShopLab" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eShopDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.eShopDB.csdl|res://*/Models.eShopDB.ssdl|res://*/Models.eShopDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mupok6ma0m.database.windows.net,1433;Initial Catalog=eShopDB;User Id=demopublic@mupok6ma0m;Password=PdDU62QI"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>