@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">

            <!-- Best Seller -->
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="no-padding">
                    <span class="title">BEST SELLER</span>
                </div>
                <div class="thumbnail col-lg-12 col-md-12 col-sm-6 text-center">
                    <a href="detail.html" class="link-p">
                        <img src="images/product-8.jpg" alt="">
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="detail.html">Penn State College T-Shirt</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
                        <p>
                            <div class="btn-group">
                                <a href="#" class="btn btn-default">$ 528.96</a>
                                <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="thumbnail col-lg-12 col-md-12 col-sm-6 visible-sm text-center">
                    <a href="detail.html" class="link-p">
                        <img src="images/product-9.jpg" alt="">
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="detail.html">Ohio State College T-Shirt</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
                        <p>
                            <div class="btn-group">
                                <a href="#" class="btn btn-default">$ 924.25</a>
                                <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Best Seller -->

        </div>

        <div class="clearfix visible-sm"></div>

        <!-- Cart -->
        <div class="col-lg-9 col-md-9 col-sm-12" ng-app="ShoppingCart">
            <div class="col-lg-12 col-sm-12">
                <span class="title">SHOPPING CART</span>
            </div>
            <div class="col-lg-12 col-sm-12 hero-feature" ng-controller="CartForm">
                <table class="table table-bordered tbl-cart">
                    <thead>
                        <tr>
                            <td class="hidden-xs">Image</td>
                            <td>Product Name</td>
                            <td>Size</td>
                            <td class="td-qty">Quantity</td>
                            <td>Unit Price</td>
                            <td>Sub Total</td>
                            <td>Remove</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in invoice.items">
                            <td class="hidden-xs">
                                <a href="/Catlg/Details/{{ item.ProductID }}">
                                    <img ng-src="{{ item.MediaUrl }}" alt="{{ item.ProductName }}" title="" width="47" height="47" />
                                </a>
                            </td>
                            <td>
                                <a href="/Catlg/Details/{{ item.ProductID }}">{{ item.ProductName }}</a>
                            </td>
                            <td>
                                <select class="size-select" name="SizeCategory">
                                    <option value="{{ size.SizeCategoryID }}" ng-selected="{{ size.selected }}" ng-repeat="size in item.SizeCategory">{{ size.SizeCategoryInitial }}</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" name="" ng-model="item.Quantity" ng-value="{{ item.Quantity }}" class="input-qty form-control text-center" />
                            </td>
                            <td class="price">{{ item.Price | currency:"€ "}}</td>
                            <td>{{ item.Price * item.Quantity | currency:"€ "}}</td>
                            <td class="text-center">
                                <a href="" class="remove_cart" rel="2" ng-click="removeItem($index)">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" align="right">Total</td>
                            <td class="total" colspan="2">
                                <b>{{ total() | currency:"€ " }}</b>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="btn-group btns-cart">
                    <button type="button" class="btn btn-primary" onclick="window.location='catalogue.html'"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</button>
                    <button type="button" class="btn btn-primary">Update Cart</button>
                    <button type="button" class="btn btn-primary" onclick="window.location='checkout.html'">Checkout <i class="fa fa-arrow-circle-right"></i></button>
                </div>

            </div>
        </div>
        <!-- End Cart -->


    </div>
</div>

<a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
    <i class="fa fa-angle-double-up"></i>
</a>